[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/adamyodinsky/FlickMe-FrontEnd.git
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/adamyodinsky/FlickMe-BackEnd.git
[submodule "Scraper"]
	path = Scraper
	url = https://github.com/adamyodinsky/FlickMe-Scraper.git
