[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/adamyodinsky/Mochooe-FrontEnd.git
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/adamyodinsky/Mochooe-BackEnd.git
[submodule "Scraper"]
	path = Scraper
	url = https://github.com/adamyodinsky/Mochooe-Scraper.git
